<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Feed</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
		
		<style type="text/css">
			.content{
				margin: 3%;
			}
			
			.clickable-card {
            	cursor: pointer;
        	}
        	
        	.modal-body img{
        		max-width: 400px;
        		max-height: 400px;
        	}
        	
		</style>
	</head>
	<body>
		
		<div class="content">		
			<div class="row row-cols-1 row-cols-md-5 g-4">
				<div th:each="aluno : ${alunos}" class="col">				
						<div class="card h-100 clickable-card" th:attr="data-aluno-id=${aluno.id}" onclick="modalOpen(this)" cursor="pointer">				
				 			<img th:src="@{/aluno/{id}/foto(id=${aluno.id})}" class="card-img-top">
				  			<div class="card-body">
				    			<p th:text="${aluno.nome}" class="card-text text-center fw-bold"></p>
				  			</div>
						</div>
				</div>
			</div>
		</div>
        
	    <div th:each="aluno : ${alunos}">
	        <div class="modal fade modal-xl" th:id="'modal' + ${aluno.id}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <h5 class="modal-title fw-bold" id="modalLabel">Perfil</h5>
	                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                    </div>
	                    <div class="modal-body">
	                    	<div class="d-flex mb-2 flex-wrap">	                    		
		                    	<div class="flex-shrink-0">	                    	
			                    	<img class="rounded-2" th:src="@{/aluno/{id}/foto(id=${aluno.id})}">
		                    	</div>
		                    	<div class="flex-grow-1 ms-3">	                    		
			                    	<p class="ms-auto p-2"><strong>Nome:</strong> <span th:text="${aluno.nome}">Nome do Aluno</span></p>
			                        <p class="ms-auto p-2"><strong>Curso:</strong> <span th:text="${aluno.curso}">Curso do Aluno</span></p>
			                        <p class="ms-auto p-2"><strong>Ano:</strong> <span th:text="${aluno.ano}">Ano do Aluno</span></p>
		                    		<p class="ms-auto p-2"><strong>Linkedin:</strong> <a th:href="${aluno.linkedIn}" target="_blank" th:text="${aluno.linkedIn}">Linkedin</a></p>
		                    		<p class="ms-auto p-2"><strong>Github:</strong> <a th:href="${aluno.gitHub}" target="_blank" th:text="${aluno.gitHub}">Github</a></p>
		                    		<p class="ms-auto p-2"><strong>Lattes:</strong> <a th:href="${aluno.lattes}" target="_blank" th:text="${aluno.lattes}">Lattes</a></p>
		                    	</div>
		                    	
		                    	<div class="w-100"></div>
		                    	
		                    	<div class="d-flex justify-content-center flex-column w-100 mt-4">		                    		
			                        <div class="p-2">
			                        	<div class="card">
										  <div class="card-header">Comentarios</div>
										  <div class="card-body">
										    <p th:text=${aluno.comentarios}></p>
										  </div>
										</div>
			                        </div>
			                        
			                        <div class="p-2">
			                        	<div class="card">
										  <div class="card-header">Histórico</div>
										  <div class="card-body">
										    <p th:text="${aluno.historico}"></p>
										  </div>
										</div>
			                        </div>
		                    	</div>
	                    	</div>
	                    </div>
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

		
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>            
		
		<script>
		    function modalOpen(card) {
	            var alunoId = card.getAttribute('data-aluno-id');
	            var modalId = '#modal' + alunoId;
	            var modal = new bootstrap.Modal(document.querySelector(modalId));
	            modal.show();
        	}
    </script>
	</body>
</html>
